body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: #DAF7A6;
}

h1 {
  font-size: 3em;
}

li {
  border-bottom: 1px solid #ccc;
  width: 200px;
  display: block;
  margin-bottom: 20px;
  font-size: 1.2em;
}

div{
  width: 500px;
  margin: auto;
}

ul {
  width: 200px;
  margin: auto;
}

button {
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px lightgrey;
}
